# dependencies
/node_modules

# next.js
/.next/
/out/

# env files
.env*.local
.env.local

# misc
.DS_Store
*.pem
npm-debug.log*

# AI & Agent artifacts & entire folder contents
.agents
.agents/
.agents/**
/.agents
/.agents/
/.agents/**
.agent
.agent/
.agent/**
.claude
.claude/
.claude/**
.docs
.docs/
.docs/**
/.docs
/.docs/
/.docs/**
AGENTS.md
CHANGELOG.md
design.md
DESIGN.md
progress.md
skill-locks.json

